.datasets-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.complete-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ensure consistent spacing */
    align-items: center;
    width: 90%;
    margin-bottom: 20px; /* Add spacing between the search container and DataGrid */
}

.search-container {
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;
}

.search-box {
    width: 100%;
    padding: 14px 20px;
    padding-right: 40px; /* Make space for the button */
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

.search-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #888;
}

.switch-container {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevent wrapping of label text */
}

.file-icon {
    width: 27px;
    height: 27px;
}
