* {
    font-family: sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-and-sidebar {
    display: flex;
    background: #E5E5E5;
    padding: 26px;
    border-radius: 12px;
    max-width: 90%;
    width: 1150px;
    position: relative;
    align-items: flex-start; /* Align the sidebar and grid container to the top */
  }
  
  .modal-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    height: auto; /* Adjust height to align dynamically */
    min-width: 85px; /* Ensure a fixed width */
    margin-left: 15px; /* Add spacing between the sidebar and the grid */
    padding-top: 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-sidebar-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px;
    width: 100%;
    cursor: pointer;
    padding: 10px;
  }

  .modal-sidebar-element:hover {
    background-color: #f5f5f5;
  }

  .modal-sidebar-element p{
    font-size: 14px;
  }
  
  .menu-icon {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .modal-container {
    flex-grow: 1; /* Allow the grid container to take up the remaining space */
    padding: 0;
    border-radius: 8px;
    margin: 0;
  }
  
  .modal-close {
    position: absolute;
    top: 7px;
    right: 11px;
    background: transparent;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: rgb(77, 75, 75);
  }
  

  