.upload-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    max-height: 60vh; /* Set a maximum height */
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 7px;
    overflow: hidden; /* Hide overflow to prevent scrolling of the entire box */
    align-self: flex-start;
    margin-top:170px ;
}

.upload-box.dragging {
    background-color: #f0f0f0;
}
.upload-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload-pic {
    width: 130px;
    height: 130px;
    background-image: url('/public/assets/uploadicon.png');
    background-size: cover;
}
.upload-button{
    width: 90px;
    height: 40px;
    background-color: white;
    border: 1px solid #7c7c7d;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.uploaded-files {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    overflow-y: auto; 
    max-height: calc(60vh - 120px);
}

.uploaded-file {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 160px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.uploaded-filename {
    display: flex;
    justify-content: last baseline;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
}
.upload-status {
    margin-top: 10px;
    text-align: center;
}

.upload-complete {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.success-icon {
    margin-right: 8px;
}

.error-messages {
    margin-top: 10px;
    color: red;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.error-icon {
    margin-right: 8px;
    color: red;
}
