* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}
.app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    align-items: last baseline ;
    padding: 15px 30px;
}
.app-logo{
    display: flex; 
    justify-content: center;
    height: 100%;
}
.logo-img{
    width: 40px;
    height: 40px;
    background-image: url('/public/assets/zorvalogo.png');
    background-size: cover;
  
}
.app-search{
    display: flex;
    height: 100%;
    width: 40%;
}
.app-search input{
    width: 100%;
    height: 70%;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid #7c7c7d;
}
.app-profile{
    display: flex;
    height: 100%;
}
.dashboard-view{
    display: flex;
    width: 100% ;
    height: 100vh;
    margin-top: 25px;
}
.menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 6.4%;
    background-color: #ededf0;
    align-items: first baseline;
    position: relative;
    border-radius: 15px;
    left: 30px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
    width: 100%;
    padding: 9.5px;
    
}
.icon:hover p,
.icon:hover .menu-icon {
    
    color: rgb(37, 30, 141);
}
.icon:hover{
    background-color: white;

}
.icon p{
    font-size: 13px;
    color: rgb(37, 30, 141);
    text-align: center;
    margin-top: 6.5px;
    font-weight: lighter;
}
.menu-icon{
    font-size: 21px;
    margin-right: 13px;
    margin-left: 20px;
    color: rgb(37, 30, 141);
}

.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 92%;
    background-color: white;
    align-self: center;
    overflow-y: scroll;

}
