* {
    font-family: sans-serif;
}
.authentication-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ece7e7;
    min-height: 813px;
    width: 100%;
}
.authentication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    min-width: 886px;
    min-height: 900px;
    max-height: 1100px;
}
.authentication-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/public/assets/auth-image1.png');
    background-size: cover;
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
.authentication-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 60%;
    border-radius: 0 15px 15px 0;
    height: 100%;
}
.authentication-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
    width: 72%;
    padding: 0 20px;
}

.authentication-form h1 {
    font-size: 42px;
    color: black;
    margin-bottom: 5px;
    align-self: flex-start;
}

.authentication-form p {
    font-size: 17px;
    color: #626161;
    margin-bottom: 28px;
    text-align: left;
    align-self: flex-start;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-group input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group label {
    font-size: 16px;
    color: #626161;

}

.form-group button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #235edf;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.authentication-alt-signin {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.authentication-alt-signin button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #3b5998;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.authentication-alt-signin p {
    font-size: 19px;
    color: #626161;
    margin-bottom: 5px;


}

.create-account-ask {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: baseline;
    justify-content: flex-start;
    position: relative;
    bottom: 45px;
    font-size: 13px;
    color: #626161;

}

.create-account-ask button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #626161;
    ;
    border-radius: 5px;
    background-color: white;
    height: 35px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 25px;
    font-size: 13px;
    color: #626161;
}
